<footer class="footer" color="primary" >
  <div class="footer-logo">
    <span class="mat-small">Desenvolvido por</span>
    <span class="mat-h4"><strong>Miguel Muller</strong></span>
  </div>

  <div class="footer-copyright">
    <span class="mat-small">Desenvolvido com</span>
    <span>
      <mat-icon matTooltip="circle_notifications">circle_notifications</mat-icon>
      <mat-icon matTooltip="offline_bolt">offline_bolt</mat-icon>
      <mat-icon matTooltip="group_work">group_work</mat-icon>
    </span>
  </div>
</footer>
