<div class="list-product">

  <div class="action-product">
    <button mat-flat-button color="primary" (click)="handlerNewTransaction()">Nova Transação</button>
    <button mat-flat-button color="primary" (click)="handlerGetTransactions()">
        <mat-icon class="mat-icon-button">cached</mat-icon>
    </button>
  </div>

  <div class="filter-product">
    <mat-form-field class="no-field-spacing">
      <mat-label>Filtro de Período</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Início">
        <input matEndDate placeholder="Fim">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <app-list-transactions ></app-list-transactions>

</div>

<div class="content-product">
  <app-form-transactions></app-form-transactions>
</div>
